/* ///////////////////////////////////////////////////////////////
 Hide Sort options from Faceted Browse page(s), e.g. Search
/////////////////////////////////////////////////////////////// */

/* Hide "Created" from sort options */
form.sorting option[value="created"]{
  display: none;
}

/* Hide "Resource Class" from sort options */
form.sorting option[value="resource_class_label"]{
  display: none;
}

/* /////////////////////////////////////////////////////
Hide any metadata "Columns" from Faceted Browse results
after the first 2 (currently Title and Date issued)
//////////////////////////////////////////////////// */

.faceted-browse-page#body-wrapper #section-content table tr td:nth-child(n+3) {
  display: none;
}

/* /////////////////////////////////////
Hide elements on Item pages
////////////////////////////////// */

/* Hide extra cover images */

.media-render.file {
  display: none;
}

/* Hide Octopus Viewer if there's no PDF attachment */

.item.resource.show .item-has-media:not(.application-pdf) .octopusviewer-wrapper {
  display: none;
}

/* Hide universal viewer if it comes after HTML */

.media-embeds.application-pdf .media-render.file {
 display: none;
}

.media-embeds:not(.application-pdf) + .universal-viewer {
  display: none;
}

header {
  background-color:  initial;
  width: initial;
  min-height: initial;
  text-align: left;
  padding: initial;
  color:  initial;
}

octopusviewer-viewer {
  min-height: 425px;
}

@media screen and (min-width: 768px) {
  octopusviewer-viewer {
    min-height: 550px;
  }
}

@media screen and (min-width: 992px) {
  octopusviewer-viewer {
    min-height: 725px;
  }
}

.item.resource.show .container h2:first-of-type + h3, 
.item.resource.show .media-list img {
  display: none !important;
}

.site-title .title_ne:before,
.site-title .title_land::before {
  color: transparent;
}