/* Keep all CSS wrapped in 
@media screen for CSS precedence 
because Omeka S base uses it */
@media screen {
  /*/////////////
  Body
  /////////////*/
  #body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #footer {
    flex-grow: 1;
  }
  .container::after {
    clear: both;
  }
  /*/////////////
  Header
  /////////////*/
  .banner {
    background-position: center;
    background-size: cover;
    height: 112px;
    position: relative;
    z-index: -10;
  }
  .site-title-container {
    line-height: 1;
    text-align: center;
  }
  .site-title-container a {
    text-decoration: none;
  }
  .site-title-container a:hover {
    text-decoration: none;
  }
  .site-title {
    color: #f9b231;
    font-family: var(--bs-font-sans-serif);
    font-size: 4rem;
    font-weight: 700;
    position: relative;
  }
  .site-title .title_ne {
    position: relative;
    text-shadow: 0.03em 0.03em 1px #676665;
  }
  .site-title .title_ne::before {
    content: "Nebraska";
    position: absolute;
    top: 0.28em;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: -1;
    text-shadow: 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white;
  }
  .site-title .title_land {
    font-weight: 100;
    position: relative;
    text-shadow: 0.03em 0.03em 1px #676665;
  }
  .site-title .title_land::before {
    content: "land";
    position: absolute;
    top: 0.28em;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: -1;
    text-shadow: 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white;
  }
  .site-subtitle {
    color: #504a4b;
    display: block;
    font-family: "open-sans", "Open Sans", Arial, sans-serif;
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;
    z-index: 200;
  }
  /* md */
  /*/////////////
  Navbar
  /////////////*/
}
@media screen and (min-width: 768px) {
  .banner {
    height: 200px;
  }
  .site-title {
    font-size: 6rem;
  }
  .site-subtitle {
    font-size: 3rem;
  }
}
@media screen {
  .top-menu .navbar {
    border: 1px solid #090909;
  }
  .top-menu .navbar .nav-link {
    --bs-nav-link-color: #ceccd2;
    --bs-nav-link-hover-color: white;
  }
}
/* end @media screen */
:root {
  --bs-font-sans-serif: "ff-dagny-web-pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: Georgia, "Times New Roman", Times, serif;
  --bs-body-font-family: var(--bs-font-serif);
  --bs-body-color: #534f59;
  --bs-body-color-rgb: 83, 79, 89;
  --bs-primary: #1F5B8A;
  --bs-primary-rgb: 31, 91, 13;
  --bs-dark: #222;
  --bs-dark-rgb: 34, 34, 34;
}

/*# sourceMappingURL=style.css.map */
