/* ////////////////////////////////
Asset Block Template: 
Random Asset with Caption Overlay
//////////////////////////////// */
.random-background-image {
  background-position: center center;
  background-size: cover;
  display: none;
  justify-content: end;
  min-height: 40vh;
  width: 100%;
}

.assets .asset.random-background-image:not(:last-child) {
  margin-bottom: 0;
}

.display-attachment-1 .attachment-1 {
  display: flex;
}

.display-attachment-2 .attachment-2 {
  display: flex;
}

.display-attachment-3 .attachment-3 {
  display: flex;
}

.display-attachment-4 .attachment-4 {
  display: flex;
}

.display-attachment-5 .attachment-5 {
  display: flex;
}

.random-background-image .container {
  padding: 0;
}
.random-background-image .caption {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 20px 0px 40px auto;
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.random-background-image .caption p {
  margin-bottom: 1.7rem;
}
.random-background-image .caption a {
  color: black;
}

@media screen and (min-width: 768px) {
  .random-background-image .container .caption {
    width: 45vw;
  }
}
@media screen and (min-width: 992px) {
  .random-background-image .container .caption {
    font-size: 1.37rem;
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  .random-background-image .container .caption {
    font-size: 1.485rem;
  }
}
/* Keep all CSS wrapped in 
@media screen for CSS precedence 
because Omeka S base uses it */
@media screen {
  /*/////////////
  Body
  /////////////*/
  #body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #footer {
    flex-grow: 1;
  }
  .container::after {
    clear: both;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--ngp-font-slab-serif);
  }
  h1, .h1 {
    font-size: var(--ngp-font-size-h1);
  }
  h2, .h2 {
    font-size: var(--ngp-font-size-h2);
    margin-top: 1.5rem;
  }
  h3, .h3 {
    font-size: var(--ngp-font-size-h3);
    margin-top: 1.5rem;
  }
  h4, .h4 {
    font-size: var(--ngp-font-size-h4);
    margin-top: 1.5rem;
  }
  /*/////////////
  Header
  /////////////*/
  /* md */
  /*/////////////
  // Navbars
  /////////////*/
  /*/////////////
  Main
  /////////////*/
  /* /////////
  Footer 
  ///////// */
}
@media screen and (min-width: 1200px) {
  h1, .h1 {
    font-size: var(--ngp-font-size-h1);
  }
  h2, .h2 {
    font-size: var(--ngp-font-size-h2);
  }
  h3, .h3 {
    font-size: var(--ngp-font-size-h3);
  }
}
@media screen {
  .banner {
    background-position: center;
    background-size: cover;
    height: 112px;
    position: relative;
    z-index: -10;
  }
  .site-title-container {
    line-height: 1;
    text-align: center;
  }
  .site-title-container a {
    text-decoration: none;
  }
  .site-title-container a:hover {
    text-decoration: none;
  }
  .site-title {
    color: var(--ngp-yellow);
    font-family: var(--bs-font-sans-serif);
    font-size: 4rem;
    font-weight: 700;
    position: relative;
  }
  .site-title .title_ne {
    position: relative;
    text-shadow: 0.03em 0.03em 1px #676665;
  }
  .site-title .title_ne::before {
    content: "Nebraska";
    position: absolute;
    top: 0.28em;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: -1;
    text-shadow: 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white;
  }
  .site-title .title_land {
    font-weight: 100;
    position: relative;
    text-shadow: 0.03em 0.03em 1px #676665;
  }
  .site-title .title_land::before {
    content: "land";
    position: absolute;
    top: 0.28em;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: -1;
    text-shadow: 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white, 0 0 1.2em white;
  }
  .site-subtitle {
    color: var(--ngp-dark-brown);
    display: block;
    font-family: var(--ngp-font-subtitle);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    z-index: 200;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    height: 200px;
  }
  .site-title {
    font-size: 6rem;
  }
  .site-subtitle {
    font-size: 3rem;
  }
}
@media screen {
  .top-menu .navbar {
    border: 1px solid #090909;
    font-size: var(--ngp-body-font-size-sm);
  }
  .top-menu .navbar .navbar-nav {
    --bs-nav-link-padding-y: 5px;
  }
  .top-menu .navbar .nav-link {
    --bs-nav-link-color: var(--ngp-light-gray);
    --bs-nav-link-hover-color: white;
  }
  header .navigation {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-weight: var(--bs-nav-link-font-weight);
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header .navigation a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }
}
@media screen and (min-width: 576px) {
  header .navigation {
    flex-direction: row;
    width: 100%;
  }
}
@media screen {
  .main-menu {
    --bs-border-width: 2px;
    --bs-navbar-toggler-border-color: rgba(255,255,255,0.75);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background: var(--ngp-blue);
    font-size: 1.5rem;
    padding: 0;
  }
  .main-menu nav {
    width: 100%;
  }
  .main-menu ul {
    list-style: none;
    padding: 0;
  }
  .main-menu ul.navigation > li > a {
    color: var(--bs-nav-link-color);
  }
  .main-menu ul.navigation > li > a:active,
  .main-menu ul.navigation > li > a:hover, .main-menu ul.navigation > li.active > a {
    background-color: var(--ngp-dark-blue);
    color: var(--ngp-light-yellow);
  }
  .main-menu li > ul {
    background: var(--ngp-lighter-brown);
    display: flex;
    flex-direction: column;
    font-size: 1.325rem;
  }
  .main-menu li > ul li a {
    color: black;
    padding-left: 28px;
  }
  .main-menu li > ul li a:active,
  .main-menu li > ul li a:hover, .main-menu li > ul li.active a {
    background: var(--ngp-light-brown);
  }
}
@media screen and (min-width: 575px) {
  header .main-menu {
    background: transparent;
  }
  header .main-menu:has(li.active > ul) {
    margin-bottom: 3.5rem;
  }
  header .main-menu .navigation {
    background: var(--ngp-blue);
    width: 100%;
  }
  header li.active ul {
    flex-direction: row;
    height: 3.5rem;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
  }
  header li.active ul li a {
    padding: 0.75rem 1.25rem;
  }
  header li:not(.active) > ul {
    display: none;
  }
}
@media screen {
  #content .block-pageTitle {
    margin-top: 3rem;
  }
  main .sub-menu .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 1rem 0 0 0;
  }
  #footer {
    background: var(--ngp-brown);
    color: white;
    font-size: 1.35rem;
    padding-top: 18px;
    text-align: center;
  }
  #footer a {
    color: white;
  }
  .footer-logos {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
    margin: auto;
    padding: 30px 0 50px 0;
  }
  .footer-logos img {
    max-width: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .footer-logos {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.site-page-home main > .container:first-child {
  max-width: 100%;
  padding: 0;
}

@media screen {
  .item.resource.show {
    --ngp-font-size-h3: 2rem;
    --bs-body-font-size: 1.13rem;
  }
  .item.resource.show h1 {
    font-size: 3.5rem;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
  }
  .item.resource.show .h2.item-date {
    font-size: 2.75rem;
    margin-top: 4px;
    text-align: center;
  }
  .item.resource.show .media-render.html {
    margin-top: 2rem;
  }
  .item.resource.show .hr {
    border-top: 2px solid var(--ngp-gray);
    clear: right;
    display: block;
    height: 0;
    margin: 10px 0 0 0;
    padding: 0px 0 0 0;
    width: 100%;
  }
  .item.resource.show a.gallery.gallery-page {
    display: 120px;
  }
  .item.resource.show span.pageimage {
    border-bottom: 2px solid var(--ngp-gray);
    border-left: 2px solid var(--ngp-gray);
    border-right: 2px solid var(--ngp-gray);
    clear: both;
    float: right;
    margin: 0 0 1em 0.5em;
    padding: 0;
  }
  .item.resource.show span.pageimage img {
    max-height: 120px;
  }
  .item.resource.show #metadata-values {
    border: solid 2px #a7a4ae;
    clear: both;
    margin-top: 3rem;
    padding: 2rem 4rem;
  }
  .item.resource.show #metadata-values dt, .item.resource.show #metadata-values dd {
    display: inline;
  }
  .item.resource.show #metadata-values > .property {
    display: list-item;
    list-style-type: disc;
  }
  .item.resource.show .tei_ab, .item.resource.show .tei_byline, .item.resource.show .tei_fw {
    display: block;
  }
  .item.resource.show .tei_byline, .item.resource.show .tei_ab_type_subhead, .item.resource.show .tei_ab_type_credit {
    font-weight: 800;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .item.resource.show .tei_fw {
    margin-bottom: 1em;
  }
}
select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: var(--ngp-body-font-size-sm);
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0;
}

.button,
#section-sidebar-modal-toggle,
#section-sidebar-modal-close,
button[type=submit] {
  background: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: 0;
  color: var(--bs-btn-color);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:focus, .button:hover,
#section-sidebar-modal-toggle:focus,
#section-sidebar-modal-toggle:hover,
#section-sidebar-modal-close:focus,
#section-sidebar-modal-close:hover,
button[type=submit]:focus,
button[type=submit]:hover {
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
  opacity: initial;
}

#section-sidebar-modal-toggle {
  background: var(--ngp-blue);
  border: 3px solid var(--ngp-blue);
  color: white;
  font-weight: 700;
}
#section-sidebar-modal-toggle:focus, #section-sidebar-modal-toggle:hover {
  background: var(--bs-body-bg);
  color: var(--ngp-blue);
  opacity: initial;
}

.button {
  border-radius: var(--bs-border-radius);
}

.inactive {
  background: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  color: var(--bs-btn-disabled-color);
  cursor: initial;
  pointer-events: all !important;
  opacity: var(--bs-btn-disabled-opacity);
}
.inactive:focus, .inactive:hover {
  background: var(--bs-btn-disabled-bg);
  color: var(--bs-btn-disabled-color);
  cursor: initial;
  opacity: var(--bs-btn-disabled-opacity);
}

.faceted-browse-wrapper {
  font-size: var(--ngp-body-font-size);
  padding-top: 40px;
}
.faceted-browse-wrapper .facets-container {
  font-family: var(--ngp-font-subtitle);
}
.faceted-browse-wrapper .facets-container legend {
  font-family: var(--bs-font-serif);
}
.faceted-browse-wrapper .facets-container > legend:first-child {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.faceted-browse-wrapper #helper-text-expand-collapse {
  background: var(--bs-btn-bg);
  border: 1px solid var(--bs-btn-border-color);
  border-radius: 0px;
  color: var(--bs-btn-color);
  display: block;
  margin-bottom: 0px;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.faceted-browse-wrapper #helper-text-expand-collapse:hover {
  background: var(--ngp-blue);
  border-color: var(--ngp-blue);
  color: white;
}
.faceted-browse-wrapper #helper-text-expand-collapse:after {
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  content: "";
  flex-shrink: 0;
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  transition: var(--bs-accordion-btn-icon-transition);
  width: var(--bs-accordion-btn-icon-width);
}
.faceted-browse-wrapper #helper-text-expand-collapse.expand:after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.faceted-browse-wrapper #helper-text {
  border: 1px solid var(--ngp-gray);
  font-family: var(--bs-body-font-family);
  margin-top: -1px;
  padding: 0.825rem;
}
.faceted-browse-wrapper #helper-text-expand-collapse,
.faceted-browse-wrapper #helper-text {
  margin-right: 3rem;
}
.faceted-browse-wrapper #facets {
  margin-top: 20px;
}
.faceted-browse-wrapper input.full-text {
  width: 100% !important;
}
.faceted-browse-wrapper .select-list-expand {
  --bs-btn-padding-y: var(--ngp-btn-sm-padding-y);
  --bs-btn-padding-x: var(--ngp-btn-sm-padding-x);
  --bs-btn-border-radius: var(--bs-border-radius-sm);
  background: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  color: var(--bs-btn-color);
  border-radius: var(--bs-btn-border-radius);
  display: inline-block;
  font-size: var(--bs-body-font-size-sm);
  margin-top: 0.5rem;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-decoration: none;
}
.faceted-browse-wrapper .select-list-expand:hover {
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
}

@media screen and (min-width: 40em) {
  #helper-text-expand-collapse,
  #helper-text {
    margin-right: 0 !important;
  }
}
#section-sidebar-modal-toggle {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

#section-sidebar.open {
  border: 5px solid var(--ngp-blue);
}

#section-sidebar button.close-button {
  background: var(--ngp-blue);
  border-color: var(--ngp-blue);
  color: white;
  font-size: 1.5rem;
  right: -4px;
  top: -4px;
}

.browse-controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--ngp-font-subtitle);
  font-size: var(--ngp-body-font-size-sm);
  justify-content: end;
}
.browse-controls .pagination {
  --bs-pagination-color: var(--ngp-blue);
}
.browse-controls .pagination form {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  margin-right: 1rem;
}
.browse-controls .pagination form input {
  border: 1px solid var(--bs-border-color);
  border-radius: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 4rem;
}
.browse-controls .pagination-buttons .button {
  border-radius: 0;
  color: var(--bs-btn-color);
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.375rem 0.625rem;
}
.browse-controls .pagination-buttons .button:focus, .browse-controls .pagination-buttons .button:hover {
  color: var(--bs-btn-hover-color);
}
.browse-controls .pagination-buttons .button.inactive {
  background: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-color);
  color: var(--bs-btn-disabled-color);
  opacity: var(--bs-btn-disabled-opacity);
}
.browse-controls .pagination-buttons .button.inactive:focus, .browse-controls .pagination-buttons .button.inactive:hover {
  border-color: var(--bs-btn-disabled-color);
  color: var(--bs-btn-disabled-color);
}
.browse-controls .row-count {
  align-self: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.browse-controls a.permalink.button {
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: 0;
  color: var(--bs-btn-color);
  display: inline-block;
  line-height: 1.2;
  margin-left: auto;
}
.browse-controls a.permalink.button .default::after {
  margin-left: 0.5rem;
}
.browse-controls a.permalink.button:focus, .browse-controls a.permalink.button:hover {
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
}
.browse-controls form.sorting {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
  justify-content: end;
}

@media screen and (min-width: 40em) {
  .browse-controls {
    justify-content: space-between;
  }
  .browse-controls form.sorting {
    margin-left: auto;
  }
}
.faceted-browse-page#body-wrapper > .container {
  max-width: initial !important;
}
.faceted-browse-page#body-wrapper .tablesaw-bar .tablesaw-advance {
  display: none;
}
.faceted-browse-page#body-wrapper #section-content table {
  margin-top: 2rem;
}
.faceted-browse-page#body-wrapper #section-content table thead {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.faceted-browse-page#body-wrapper #section-content table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.faceted-browse-page#body-wrapper #section-content table tr {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.faceted-browse-page#body-wrapper #section-content table tr td:last-child {
  display: none;
}
.faceted-browse-page#body-wrapper #section-content table tr td {
  border-bottom: 0;
  max-width: initial;
  min-width: initial;
  padding: initial;
  width: initial;
  text-align: center;
}
.faceted-browse-page#body-wrapper #section-content table tr td .resource-link {
  align-items: start;
  flex-direction: column;
  text-align: center;
}
.faceted-browse-page#body-wrapper #section-content table tr td .resource-link > * {
  max-width: initial;
  min-width: initial;
  width: 100%;
}
.faceted-browse-page#body-wrapper #section-content table tr td .resource-link span {
  font-size: var(--ngp-body-font-size-sm);
  margin-top: 12px;
}
.faceted-browse-page#body-wrapper #section-content table tr td .resource-link img {
  border: 5px solid transparent;
  height: auto;
  margin: 0 auto;
  max-height: initial;
  max-width: 204px;
}

@media screen and (min-width: 40em) {
  .faceted-browse-page#body-wrapper #section-sidebar {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .faceted-browse-page#body-wrapper #section-content table tbody {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .faceted-browse-page#body-wrapper #section-content table tbody tr {
    max-width: initial;
  }
}
:root {
  --ngp-dark-brown: #504a4b;
  --ngp-brown: #676665;
  --ngp-light-brown: #a09a9b;
  --ngp-lighter-brown: #c1babc;
  --ngp-yellow: #f9b231;
  --ngp-light-yellow: #FAE6AE;
  --ngp-blue: #1F5B8A;
  --ngp-blue-rgb: 31, 91, 138;
  --ngp-dark-blue: #19496f;
  --ngp-light-blue: #dcedfb;
  --ngp-gray:#9FA3A6;
  --ngp-light-gray: #ceccd2;
  --ngp-font-subtitle: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ngp-font-slab-serif: "cordale", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ngp-font-size-h1: 3rem;
  --ngp-font-size-h2: 2.5rem;
  --ngp-font-size-h3: 2rem;
  --ngp-font-size-h4: 1.75rem;
  --bs-body-font-size: 1.25rem;
  --bs-body-font-size-sm: 1.1rem;
  --bs-font-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: Georgia, "Times New Roman", Times, serif;
  --bs-body-font-family: var(--bs-font-serif);
  --bs-body-color: #333;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-dark: #222;
  --bs-dark-rgb: 34, 34, 34;
  --bs-link-color: var(--ngp-blue);
  --bs-link-color-rgb: var(--ngp-blue-rgb);
}

:root, .btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-font-family: var(--ngp-font-subtitle);
  --bs-btn-font-size: var(--ngp-body-font-size);
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--ngp-light-blue);
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: var(--ngp-gray);
  --bs-btn-hover-border-color: var(--ngp-blue);
  --bs-btn-hover-bg: var(--ngp-blue);
  --bs-btn-hover-color: white;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  --ngp-btn-sm-padding-x: 0.5rem;
  --ngp-btn-sm-padding-y: 0.25rem;
}

/*# sourceMappingURL=style.css.map */
