
/* ////////////////////////////////
Asset Block Template: 
Random Asset with Caption Overlay
//////////////////////////////// */


// Display only one image at a time
.random-background-image {
  // background-position:center center;
  // background-size:cover;
  display: none;
  // justify-content: end;
  // min-height:40vh;
  // width: 100%;
  overflow: hidden;
}

.assets .asset.random-background-image:not(:last-child) {
  margin-bottom: 0;
}

.display-attachment-1 .attachment-1 {
  display: block;
}

.display-attachment-2 .attachment-2 {
  display: block;
}

.display-attachment-3 .attachment-3 {
  display: block;
}

.display-attachment-4 .attachment-4 {
  display: block;
}

.display-attachment-5 .attachment-5 {
  display: block;
}

// Caption overlay
.random-background-image {

  .random-image-wrapper {
    background: #2d2d2d;
    position: relative;
    text-align: center;

    img {
      // height: 100%;
      max-height: 600px;
      max-width: initial;
      // min-width: 100%;
      // width: auto;
    }
  }

  .caption-wrapper {
    margin-left: var(--bs-gutter-x);
    margin-right: var(--bs-gutter-x);
    padding-top: var(--bs-gutter-x);
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .caption {
    background:rgba(255,255,255,0.8);
    font-size: 1.25rem;
    line-height: 1.2;
    // margin: 20px 0px 40px auto;
    max-width: 450px;
    padding: 30px 20px 1px 20px;
    text-align: center;

    p {
      margin-bottom: 1.7rem;
    }

    a {
      color: black;
    }
  }
}

@media screen and (min-width: 768px) {
  .random-background-image {
    .random-image-wrapper img {
      max-height: initial;
      width: 100%;
    }

    .caption-wrapper {
      left: 55%;

      .caption {
        width: 45vw;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .random-background-image {
      .random-image-wrapper {
        img {
          max-height: initial;
          width: initial;
        }

      .caption {
        font-size: 1.37rem;
        width: 30vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .random-background-image .caption {
    font-size: 1.485rem;
  }
}

// Asset block template - link with background image (for Browse)

/* Asset block template - link with background image (for Browse) */
 
 
.links-with-background-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .link-with-background-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    a.link-image {
      background-position: center;
      background-size: cover;
      display: block;
      max-width: 525px;
      min-width: 300px;
      padding: 60px;
      width: 100%;

      &:hover {
        opacity: 0.7;
      }

      .link-title {
        background-color: white;
        color: rgba(25,73,111,0.9);
        display: inline-block;
        font-size: 24px;
        margin: auto;
        padding: 10px;
      }
    }
    .caption {
    flex: 100%;
  }
 }
}

@media screen and (min-width: 768px) {
  .assets.links-with-background-images .asset.link-with-background-image {
    margin: 10px;
    max-width: 525px;
  }

  .center-first .assets.links-with-background-images .asset.link-with-background-image:first-of-type {
      max-width: initial;
      width: 100%;
    }
}




